.container{
	max-width: 1250px;
}
body{
	margin:0;
}
abbr{
	text-decoration: none;

}
hr{
	height: 1px;
	background-color: silver; 
	margin:0;
	border:0;
}
hr.dark{
	height: 3px;
	background-color: #2696F8;
	width:250px;
	margin-top:-2px;
	border:0;
}

nav{
	padding:10px 0;
	background-color: #2696F8;
}
nav ul{
	padding:0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width:100%;
	margin:0;
	padding:12px 0;
}
nav ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size:14px;
}
nav ul li a:hover{
	text-decoration: underline;
	text-underline-offset: 7px;
	transition: 0.5s;
}
nav ul li a.active{
	text-decoration: underline;
	text-underline-offset: 7px;
}

.top-right .phone i{
	font-size: 25px;
	position: relative;
	top: -3px;
}

/*footer */

footer{
	background-color: #2696F8;
	
	/*background-image: url(../images/footer.png);*/
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	color: white;
}
nav .hamburger{
	display: none;
}
.language{
	position: relative;
	cursor: pointer;
}
.language ul{
	display: none;
}
.language.open ul{
	display: block;
	position: absolute;
	padding: 0;
	list-style: none;
	background-color: white;
	color: black;
	padding: 10px 21px;
	border-radius: 5px;
	right: 0;
}
.language ul li{
	margin:7px 0;
}
.language ul li a{
	color: #333;
	text-decoration: none;
}
footer .logo{
	display: flex;

}
footer .logo img{
	height: 100px;
	
}
footer .logo>div{
	margin-left: 10px;
	text-transform: uppercase;
	font-family: sans-serif;
	color: white;
}
footer .legal{
	margin-top:10px;

}
footer .copyright{
	margin-top:10px;
}
.endimage{
	text-align: center;
	padding:15px;
}
.endimage img{
	max-width: 60%;
}
.page-title hr{
	background-color:grey;
	height:1px;
	border:0;
	margin:0;
}
.page-title h2{
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
}
.over-text{
	position: relative;
	z-index: 1;
	display:flex;
	flex-direction: column;
	flex-grow: 1;
}
.over-text-padding{
	padding:40px 0;
}
.page-title hr.blue{
	background-color:blue;
	height:3px;
	border:0;
	margin:0 auto;
	margin-top: -2px;
	width:30%;
	border-radius: 5px;
	
}
.allgallery{
	text-align: center;
}
.btn-blue{
	background-color: blue;
	padding:5px 15px;
	color: white;
	font-size:15px;
	border: 0;
	border-radius:10px;
	text-decoration: none;
}
.content-title h4{
	font-size: 28px;
	font-style: italic;
	text-align: center;
}
.content-title hr{
	width:50%;
	height: 1px;
	border:0;
	background-color: silver;
	margin-top:20px;
}
.content-title hr.dark{
	
	width:20%;
	background-color: blue;
	height: 3px;
	margin-top:-2px;
	border-radius: 2px;
	border:0;
	background-color: blue;
}
.mobile-menu{
	display: none;
}
.centered{
	text-align: center;
}
img.bordered{
	border-radius: 10px;
	box-shadow: 0 0 3px 2px #489ef9;
}
@media(max-width: 1200px){
	nav ul{
		display: none;
	}
	.mobile-menu{
		display: block;
		position: absolute;
		top: 0;
		z-index: 999;
		background-color: #313131;
		right: 0;
		padding: 25px 40px;
		padding-top: 25px;
		height: 100%;
		padding-top: 76px;
		list-style: none;
	}
	.mobile-menu.close{
		right:-150%;
		transition: .4s;
	}
	.mobile-menu.open{
		right:0;
		transition: .4s;
	}
	.mobile-menu li{
		margin:15px 0;
	}
	.mobile-menu li a{
		text-decoration: none;
		color: white;
		text-transform: uppercase;
	}
	.mobile-menu li a.active{
		text-decoration: underline;
		text-underline-offset: 7px;
	}
	.unscrolled{
		height: 100vh;
		overflow: hidden;
	}
	nav .hamburger{
		display: block;
		display: flex;
		justify-content: flex-end;
		color: white;
		padding:15px;
	}
	nav .hamburger span{
		cursor: pointer;
	}
}
